{include file="public/header" /}
<link rel="stylesheet" href="_CSS_/query.css">
</head>

<body>
	<form method="post" action="editRoom">
		<div class="layui-row">
			<div class="layui-col-md12" style="text-align:center;">
				<label class="layui-form-label" style="width:90px ;">请选择宿舍楼</label>
				<select name="lh" id="louhao" lay-filter="test">
					{foreach $lh as $key => $vo}
					<option value="{$vo}">{$vo}</option>
					{/foreach}
				</select>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-md12" style="text-align:center;">
				<label class="layui-form-label" style="width:100px ;">请选择宿舍房号</label>
				<select class="form-control" name="fhid" id="fh" lay-filter="test">
					<option value="">请选择宿舍房号</option>
				</select>
			</div>
		</div>
		<br>
		<div class="layui-row">
			<div class="layui-col-md4" style="text-align:center;">
				<button type="button" class="layui-btn layui-btn-danger" id="fix">确定</button>
			</div>
		</div>
	</form>
</body>
<script src="_LIB_/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
	layui.use('jquery', function () {
		var $ = layui.jquery;

		$("#louhao").change(function () {
			$.ajax({
				type: "post",
				url: "{:url('Query/editRoom')}",
				data: { "lh": $('#louhao').val() },
				dataType: "json",
				success: function (data) {
					$('#fh').html(data);
				}
			});
		});
		$("#fix").click(function () {

			$.ajax({
				type: "post",
				url: "{:url('Query/editRoom')}",
				data: {
					"lh": $('#louhao').val(),
					'fhid': $('#fh').val()
				},
				dataType: "json",
				success: function (res) {
					if (res.code == 1) {
						layer.msg(res.msg+'，请关闭当前窗口');
						setTimeout(function closePage() {
							window.location.href = "about:blank";
							window.close();
						}, 2000);
					}

				}
			})
		})
	})
</script>

</html>