{include file="public/header" /}
<link rel="stylesheet" href="_CSS_/query.css">
</head>
<body id='query'>
	<div class="layui-row ">
		<fieldset class="table-search-fieldset">
            <div style="margin: 10px 10px 10px 10px;text-align: center;" >
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
		<div class="layui-col-md3 layui-col-md-offset4 msg" >
			<div style="text-align: center; padding-top: 10px;">
				<img src="_IMG_/tx.png" alt="" id="touxiang">
			</div>
			<table>
				<tbody>
					<tr>
						<td>姓&nbsp名</td>
						<td></td>
					</tr>
					<tr>
						<td>姓&nbsp名</td>
						<td></td>
					</tr>
					<tr>
						<td>姓&nbsp名</td>
						<td></td>
					</tr>
					<tr>
						<td>姓&nbsp名</td>
						<td></td>
					</tr>
					<tr>
						<td>姓&nbsp名</td>
						<td></td>
					</tr>
					<tr>
						<td>姓&nbsp名</td>
						<td></td>
					</tr>
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr></tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>