{include file="public/header" /}
<link rel="stylesheet" href="_CSS_/query.css">
</head>

<body id='query'>
	<div class="layui-row ">
		<div class="layui-fluid">
			<blockquote class="layui-elem-quote">
				上网清单
			</blockquote>
			<form class="layui-form" action="" style="margin-bottom: 10px;">
				<div class="layui-inline">
					<div class="layui-input-inline">
						<input type="text" name="userid" class="layui-input" placeholder="学号">
					</div>
				</div>
				<div class="layui-inline">
					<button type="button" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="*">
						<i class="layui-icon"></i></button>
				</div>
			</form>

			<div class="table">

			</div>
		</div>
	</div>
</body>
<script src="_LIB_/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
	layui.use(['form', 'jquery', 'layer'], function () {
		var $ = layui.jquery,
			form = layui.form,
			layer = layui.layer;

			form.on('submit(*)', function (data) {
				data = data.field;
				$.ajax({
					url: "{:url('Operation/userTicket')}",
					data:data
					,type:'get'
					,success(res){
						$('.table').append(res);
					}
				})
			})
	})
</script>