{include file="public/header" /}
<link rel="stylesheet" href="_CSS_/query.css">
</head>
<style>
	.layui-form-label {
		width: 40px;
	}

	.layui-input-block {
		margin-left: 70px;
	}
</style>

<body>
	<form action="" style="text-align: center;" class="layui-form" lay-filter="formTest">

		<div class="layui-row">
			<div class="layui-form-item" style="text-align:center;">
				<label class="layui-form-label">名称</label>
				<div class="layui-input-block">
					<input type="text" name="roleName" class="layui-input" id="roleName">
				</div>
			</div>
		</div>

		<label class="layui-form-label">权限</label>
		<div class="layui-row">
			
			<div id="test1"></div>
		</div>

		<div class="layui-row">
			<div class="layui-col-md4" style="text-align:center; margin-top: 10px;">
				<button type="button" class="layui-btn"  lay-submit lay-filter="*">确定</button>
			</div>
		</div>

	</form>
</body>

<script src="_LIB_/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
	layui.use(['jquery', 'form', 'layer', 'tree'], function () {
		var $ = layui.jquery,
			form = layui.form,
			layer = layui.layer,
			tree = layui.tree;

		var datas = [];
		$.ajax({
			url: "{:url('System/addRole')}"
			, type: 'post'
			, data: { 'option': 1 }
			, async: false
			, success(res) {
				// console.log(res.data)	
				datas = res.data;
			}
		})

		var inste1 = tree.render({
			elem: '#test1'
			, data: datas
			, showCheckbox: true
			, id: 'demoId' //定义索引
		})

		form.on('submit(*)',function(data){
			var data1 = form.val("formTest");
			var checkData = tree.getChecked('demoId');
			// var newData=[{'name':data1.roleName},{'role':checkData}];
			// console.log(data1.roleName);

			$.ajax({
				url:"{:url('System/addRole')}"
				,type:'post'
				,data:{
					'option':2,
					'name':data1.roleName,
					'role':checkData
				}
				,success(res){
					layer.msg(res.msg);
					if(res.code==1){
						setTimeout(function closePage() {
							var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							parent.layer.close(index); //再执行关闭   
						}, 2000);
					}
				}
			})
		})
	})
</script>

</html>